body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 12px;
  overflow-x: hidden;

  background-color: $background-color;
  color: $dark-color;

}

main {
  padding-inline: 10px;
  padding-block: 2.25vh;




  @media (min-width: $tablet) {
    padding-inline: 20px;
    padding-block: 5.5vh;
  }
 
 

  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

*:focus-visible {
  outline: 3px solid $accent-color;
  outline-offset: 2px;
}

