  $background-color: #F3F7FA;

  $accent-color: #2196F3;
  $card-color: #FFFFFF;
  $dark-color: #4A4A4A;
  $light-color: #A0B0B9;
  $stroke-color: #DFE5EC;
  $hover-color: #F1FCFF;
  

  $box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1);
  $box-shadow--hover: 0px 2px 16px 0px rgba(0,0,0,0.15);


  $border-radius: 5px;

  $border-checkbox: 1px solid #9ABBCE;

